APP_NAME='google-trend-bot'
APP_ENV='dev'
LOG_LEVEL='INFO'
VERSION='0.3.2'
SLACK_WEBHOOK='https://hooks.slack.com/services/'
LOKI_URL='http://loki:3100/loki/api/v1/push'
USE_SERVER='False'
SCHEDULE_INTERVAL='10'
CONTROL_TOKEN=''
PLAYWRIGHT_URL='http://localhost:3000'
